html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  -webkit-font-smoothing: antialiased;
}

.sbdocs.sbdocs-wrapper,
.docs-story {
  background-color: var(--color-bg);
}
