@layer ui.components {
  .root {
    --textarea-padding-block: calc(var(--control-padding) - var(--spacing) * 0.5);
    --textarea-chrome: calc(var(--textarea-padding-block) * 2 + var(--spacing) * 0.5);

    display: block;
    width: 100%;
    min-height: calc(var(--textarea-min-rows) * 1lh + var(--textarea-chrome));
    max-height: calc(var(--textarea-max-rows) * 1lh + var(--textarea-chrome));
    padding-block: var(--textarea-padding-block);
    resize: vertical;

    &[data-auto-resize] {
      field-sizing: content;
      resize: none;
    }

    &[readonly] {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
