---
import config from 'virtual:starlight/user-config';
import Search from './Search.astro';
import SocialIcons from './SocialIcons.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';

import ThemeSelect from './ThemeSelect.astro';
import SiteTitle from './SiteTitle.astro';
import NavBar from './parts/NavBar.astro';
import MobileMenuToggle from './parts/MobileMenuToggle.astro';

/** render the `Search` component if Pagefind is enabled or the default search component has been overridden. */
const shouldRenderSearch =
    config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
const shouldRenderLanguageSelect = config.isMultilingual;
---

<MobileMenuToggle />

<div class="site-title-wrapper">
    <SiteTitle />
    <NavBar />
</div>

<div class="header-right">
    {shouldRenderSearch && <Search />}

    <nav class="header-nav">
        <div class="header-nav-item">
            <SocialIcons />
        </div>
        <div class="header-nav-item header-nav-item--separated">
            <ThemeSelect />
        </div>
        {
            shouldRenderLanguageSelect && (
                <div class="header-nav-item header-nav-item--separated">
                    <LanguageSelect />
                </div>
            )
        }
    </nav>
</div>

<style>
    .site-title-wrapper {
        display: none;
        margin-right: calc(var(--spacing) * 4);
    }

    @media (min-width: 1024px) {
        .site-title-wrapper {
            display: flex;
        }
    }

    .header-right {
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 0%;
        display: flex;
    }

    @media (min-width: 768px) {
        .header-right {
            justify-content: flex-end;
        }
    }

    .header-nav {
        gap: 0.125rem;
        align-items: center;
        display: flex;
    }

    .header-nav-item {
        display: flex;
        align-items: center;
    }

    .header-nav-item--separated {
        position: relative;
        margin-left: calc(var(--spacing) * 1);
        padding-left: calc(var(--spacing) * 3);
    }

    .header-nav-item--separated::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 1px;
        height: 1rem;
        background-color: color-mix(in oklab, var(--border) 85%, transparent);
        transform: translateY(-50%);
    }
</style>
