@layer ui.components {
  .root {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    width: fit-content;
    color: var(--color-text);
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.3;
    user-select: none;

    &[data-disabled] {
      color: var(--color-text-tertiary);
    }
  }
}
